<nav class="a">

    <section id="internet-check" class="na"></section>

    <section id="enigma" class="na">

        <div class="hud-viewport">

            <div class="system-data">
                {% if new1 %}
                    {{ new1 }}
                {% else %}
                    _______________________________________________________________________________________________________________
                {% endif %}
            </div>

            <div class="grid-overlay"></div>

            <div class="layer layer-bg">
                {% if new2 %}
                    {{ new2 }}
                {% else %}
                    _______________________________________________________________________________________________________________
                {% endif %}
            </div>

            <div class="layer layer-main">
                <span class="text-content">

                    {% if new3 %}
                        {{ new3 }}
                    {% else %}
                        _______________________________________________________________________________________________________________
                    {% endif %}

                    <span style="color:white;">

                        {% if new4 %}
                            {{ new4 }}
                        {% else %}
                            _______________________________________________________________________________________________________________
                        {% endif %}

                    </span>

                    {% if new5 %}
                        {{ new5 }}
                    {% else %}
                        _______________________________________________________________________________________________________________
                    {% endif %}

                </span>
            </div>

            <div class="layer layer-fast">
                {% if new6 %}
                    {{ new6 }}
                {% else %}
                    _______________________________________________________________________________________________________________
                {% endif %}
            </div>

        </div>

    </section>

    <section id="address" class="na"></section>

</nav>